*{
    padding: 0;
    margin: 0;
}

body{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;


}

.wrap-menu{
    position: relative;
    width: 100%;
    height: 30px;
    background-color: grey ;

    }

ul{

    position: absolute;
    top: 5px;
    left: 30%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    text-align: center;
}

.perfil01{
width: 100%;
height: 650px;
background-color: lightgreen;

}
a{
text-decoration: none;
}

a:hover{
text-decoration: underline;
}

.perfil02{
    width: 100%;
    height: 650px;
    background-color: white;
    
    }

    .Tecnologia{
        width: 100%;
        height: 650px;
        background-color: lightgreen;
        
        }

        .ctt{
            width: 100%;
            height: 650px;
            background-color: white;
            
            }